body {
	font-size: 20px;
	text-align: center;
	color: black;
	padding: 0px;
	font-family: cursive;
	background: plum;
}
a {
	text-decoration: none;
	color: black;
}
.header {
	display: grid ;
	grid-template-columns: 1fr 4fr ;
	background-color: moccasin ;
	height: 30vh ;
	border-radius: 15px ;
	margin-bottom: 5px ;
}

.logo {
	background-image: url(../img/logo.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 27vh;
	margin-top: 6px ;
	margin-left: 6px ;
}

.title {
	color: black;
}
ul {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 2px;
	padding: 0px;
	margin:	0px;
	text-align: center;
}


li {
	padding: 5px;
	border: 2px black solid;
	background: tan;
	text-align: center;
	color: white;
	font-family: Verdana;
	list-style: none;
	font-size: 10 px;
	border-radius:5px;
	transition: all .2s ease-out;
	margin-bottom: 5px;
}

li:hover{
	background-color: black;
}

* {
	text-decoration: none;
}

.intro {
	border-radius: 5px ;
	height: 6vh ;
	text-align: left ;
}

.let {
	color: white;
	height: 5vh ;
	text-align: left ;
	padding: 2px black solid ;
}
	
.terno {
	display:grid ;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border: 2px black solid;
	height: 73vh;
	grid-gap: 5px ;
	margin-top: 5px ;
	background-color: #FF86C2 ;
}

.t {
	background-image: url(../img1/t.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.tt {
	background-image: url(../img1/tt.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.ttt {
	background-image: url(../img1/ttt.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.tttt {
	background-image: url(../img1/tttt.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.ttttt {
	background-image: url(../img1/ttttt.jpg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.skirts {
	display: grid ;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border: 2px black solid;
	height: 73vh;
	grid-gap: 5px ;
	margin-top: 5px ;
	background-color: #FF86C2 ;
}

.s {
	background-image: url(../img1/s.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.ss {
	background-image: url(../img1/ss.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.sss {
	background-image: url(../img1/sss.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.ssss {
	background-image: url(../img1/ssss.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.sssss {
	background-image: url(../img1/sssss.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.dress {
	display: grid ;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
	border: 2px black solid;
	height: 73vh;
	grid-gap: 5px ;
	margin-top: 5px ;
	background-color: #FF86C2 ;
}

.d {
	background-image: url(../img1/d.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.dd {
	background-image: url(../img1/dd.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.ddd {
	background-image: url(../img1/ddd.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.dddd {
	background-image: url(../img1/dddd.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.ddddd {
	background-image: url(../img1/ddddd.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.dddddd {
	background-image: url(../img1/dddddd.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.pants {
	display: grid ;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
	border: 2px black solid;
	height: 73vh;
	grid-gap: 5px ;
	margin-top: 5px ;
	background-color: #FF86C2 ;
}

.p {
	background-image: url(../img1/p.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.pp {
	background-image: url(../img1/pp.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.ppp {
	background-image: url(../img1/ppp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.pppp {
	background-image: url(../img1/pppp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}

.ppppp {
	background-image: url(../img1/ppppp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 70vh;
	margin-top: 5px ;
}


	
.footer {
	background: 
	padding: 5px;
	text-align: center;
	color: white;
	margin-bottom: 10px;
}
